/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

.card-content {
  padding-left: 15px;
}

/****** Header ***********/

/* .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navigation img {
  object-fit: cover;
  width: 100px;
}

.nav-bar {
  display: flex;
  list-style: none;
  width: 20em;
  justify-content: space-between;
}

.nav-link {
 
  padding-top: 1.1em;
  margin-top: -1.3em;
  display: flex;
  justify-content: center;
  width: 150%;
  text-align: center;
}

.nav-link:hover {
  border-width: 3px 0px 0px 0px;
  border-style: solid;
  border-color: var(--main-color);
  padding-top: 1.1em;
  margin-top: -1.3em;
  display: flex;
  justify-content: center;
  width: 150%;

  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--main-color);
} */

header {
  display: flex;
  align-items: center;
}

.logo {
  width: 70%;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 9em;
}

h1 {
  margin: 50px 0 10px 0;
  font-size: 22px;
}

/****** Barre de recherche ***********/

.search-bar {
  display: flex;
  margin: 20px 0 20px 0;
}

.fa-location-dot {
  padding: 15px;
  background-color: var(--main-bg-color);
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button {
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

input {
  border: none;
  border-top: solid var(--main-bg-color) 1px;
  border-bottom: solid var(--main-bg-color) 1px;
}

/****** Filtres ***********/

.filters-display {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
}

.filter {
  display: flex;
  align-items: center;
  border: solid var(--main-bg-color) 1px;
  padding: 10px;
  border-radius: 20px;
  margin-right: 15px;
}

.filter:hover {
  background-color: var(--filter-bg-color);
}

.filter i {
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements .card {
  margin-top: 33px;
  width: 31%;
}

.hebergements img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100px;
}

.hebergements-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hebergements .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements .card-rating {
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
  color: black;
  margin-top: 1em;
  display: block;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
  padding: 30px;
  box-sizing: border-box;
}

.activites-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 33px;
}

.activites-card .card {
  width: 23%;
}

.activites-card img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-card .card-title {
  padding: 20px;
}

/****** Footer ***********/
footer {
  display: flex;
  background-color: var(--main-bg-color);
  padding: 30px;
  box-sizing: border-box;
}

footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 25px;
}

h4 {
  margin-bottom: 10px;
}

.footer-list {
  margin-right: 150px;
}

.footer-list li {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-card img {
    height: 100px;
  }
  .activites-card .card-title {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 15px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
  /* .navigation img {
    padding: 20px;
  }
  .navigation {
    flex-direction: column;
  }
  nav {
    width: 100%;
  }
  .nav-link {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 0;
    margin-top: 0;
  }

  .nav-link a {
    width: 100%;
    justify-content: center;
    display: flex;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #f2f2f2;
  }

  .nav-link a:hover {
    color: var(--main-color);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: var(--main-color);
  }
  .nav-bar {
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .nav-bar:hover {
    color: var(--main-color);
  } */

  header {
    flex-direction: column;
  }
  nav,
  .logo {
    width: 100%;
  }

  nav {
    justify-content: space-around;
    margin-top: 2em;
  }

  .logo {
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: black;
    border-color: var(--main-bg-color);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    padding-bottom: 2em;
    width: 50%;
    text-align: center;
  }

  nav a:hover {
    color: var(--main-color);
    border-color: var(--main-color);
  }
  .search-bar {
    justify-content: center;
  }

  .filters-display {
    justify-content: center;
  }
  .filter {
    width: 120px;
  }

  .populaires-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .populaires-cards .card {
    width: 100%;
  }

  .hebergements-cards .card {
    width: 100%;
  }

  .activites-card .card {
    width: 100%;
    margin-top: 33px;
  }

  footer {
    flex-direction: column;
  }
  .footer-list {
    margin-right: 0;
  }
}
